#certificate{
    width: 595px;
    height: 842px;
    display: none;
    
}

// @media print {
//     .#content{
//         width: 595px;
//         height: 842px;
//         display: inline;
//     }
//     }

