<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <app-common-header isFullLogoActivate="true" isLoggedAsActivate="true">
  </app-common-header>

  <ion-content *ngIf="Cases">
    <ion-button [routerLink]="['/home/notification/history']">History</ion-button>
    <ion-card *ngFor="let Case of Cases" class="ion-padding">
      <div>
        <ion-item>
          <ion-label>Case: {{Case.Id}}</ion-label>
          <div *ngIf="!accepted(Case)">
            <ion-button color="white" (click)="acceptCase(Case.Id)" *ngIf="serviceRole == 'Volunteer'">
              <ion-icon color="success" size="large" name="checkmark-sharp"></ion-icon>
            </ion-button>
            <ion-button color="white" (click)="declineCase(Case.Id)" *ngIf="serviceRole == 'Volunteer'">
              <ion-icon color="danger" size="large" name="close-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>Reason: {{Case.helptype.HelpType}}</ion-label>
          <div *ngIf="(accepted(Case) && serviceRole == 'Volunteer') || (Case.UserId == user.Id && serviceRole == 'Distressed')">
            <ion-button [routerLink]="['/home/notification/case']" (click)="toCase(Case.Id)">Status</ion-button>
          </div>
        </ion-item>
      </div>
      </ion-card>
  </ion-content>
</ion-app>