<app-common-header [title]="title" isBackButtonActivate="true" backPageLink="/home/notification" isSmallLogoActivate="true" (click)="showContent()"></app-common-header>
<div [hidden]=contentHidden *ngIf="userCaseData">

    <ion-card>
        <p>Name: {{userCaseData.DistressedName}} </p>
        <p>Age:{{userCaseData.Age}} </p>
        <p>Phone Number: {{userCaseData.PhoneNumber}} </p>
        <p>Address: {{userCaseData.Address}}</p>
        <p>Reason: {{userCaseData.sosReason}}</p>
    </ion-card>

</div>

<ion-content #content>
    <ion-grid>
        <ion-row *ngFor="let message of messages">
            <ion-col size="9" *ngIf="message.serviceRole == 'Volunteer'" class="message otherMessage">
                <b>{{ message.user }}:{{message.serviceRole}}</b><br>
                <span>{{ message.msg }}</span>
                <div class="time" text-right>
                    <br> {{message.createdAt | date:'short'}}
                </div>
            </ion-col>
            
            <ion-col offset="3" size="9" *ngIf="message.serviceRole == 'Distressed'" class="message myMessage">
                <b>{{ message.user }}:{{message.serviceRole}}</b><br>
                <span>{{ message.msg }}</span>
                <div class="time" text-right>
                    <br> {{message.createdAt | date:'short'}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer *ngIf='this.userCaseData && this.userCaseData.Status == "Open"'>
<div *ngIf='this.serviceRole==="Volunteer"'>
    <ion-button (click)="sendMessage('Attending')" value="Attending"> attending </ion-button>
    <ion-button (click)="sendMessage('Attended')" value="Attended"> attended </ion-button>
    <ion-button (click)="sendMessage('Resolved')" value="resolved"> resolved </ion-button>
    <ion-button (click)="addSupport()" value="Additional Support Extended"> additional support extended</ion-button>
    <div [hidden]=isHidden>
        <ion-item>
            <ion-input placeholder="Comment Here" [(ngModel)]="commentBox"></ion-input>
            <ion-button (click)="sendMessage('Additional Support Extended')">
                <ion-icon name="send-sharp"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
</div>
<div *ngIf='this.serviceRole==="Distressed"'>
    <ion-button (click)="sendMessage('Help Arrived')"> Help Arrived </ion-button>
    <ion-button (click)="sendMessage('Received')"> Received </ion-button>
    <ion-button (click)="sendMessage('Resolved')"> Resolved </ion-button>
    <ion-button (click)="sendMessage('Closed')"> closed </ion-button>
</div>
</ion-footer>