<app-common-header
  [title]="title"
  isBackButtonActivate="true"
  backPageLink="/home/notification"
  isSmallLogoActivate="true"
></app-common-header>
<ion-content>
  <ion-card>
    <p>Name: </p>
    <p>Age: </p>
    <p>Phone Number: </p>
    <p>Address: </p>
    <p>Reason: </p>
  </ion-card>
</ion-content>
<div id="status">
<ion-button (click)="sendSupport()"> attending </ion-button>
<ion-button (click)="sendSupport()"> attended </ion-button>
<ion-button (click)="sendSupport()"> resolved </ion-button>
<ion-button (click)="addSupport()"> additional support extended</ion-button>
<div [hidden]=isHidden>
<ion-item>
  <ion-input placeholder="Comment Here"></ion-input>
  <ion-button (click)="sendSupport()"><ion-icon name="send-sharp"></ion-icon></ion-button>
</ion-item>
</div>
</div>
<!-- <ion-footer>
</ion-footer> -->