<ion-tabs *ngIf="serviceRole=='Distressed'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabsList" [tab]="tab.tabName">
      <ion-icon [name]="tab.iconName"></ion-icon>
      <ion-label>{{tab.label}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-tabs *ngIf="serviceRole=='Volunteer'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabsListV" [tab]="tab.tabName">
      <ion-icon [name]="tab.iconName"></ion-icon>
      <ion-label>{{tab.label}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
